# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
db.sqlite3
media/
staticfiles/

# If you use Django's collectstatic:
/static/

# Local env
.env
venv/
ENV/
.venv/

# VSCode
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Python egg files
*.egg
*.egg-info/
dist/
build/
.eggs/

# Migration cache
**/migrations/__pycache__/

# Test coverage
htmlcov/
.coverage
.tox/

# Jupyter Notebooks
.ipynb_checkpoints

# Others
*.bak
*.swp
*.swo

# Node (if any frontend tooling)
node_modules/

# Backup files
*~